<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple To-Do App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        body {
            font-family: Calibri, Helvetica, sans-serif;
            background-color: #390570;
            color: #fefefe;
            padding: 1.5rem;
        }

        button {
            background-color: #226124;
            color: #fefefe;
            font-weight: 700;
            font-size: 1.1rem;
            padding: 10px 15px;
            margin: 10px 10px;
            border: none;
            cursor: pointer;
            opacity: 0.7;
        }

        button:hover {
            opacity: 1;
        }
    </style>
</head>

<body>
    <h1 class="display-4 text-center py-1">To-Do App</h1>

    <div class="jumbotron p-3 shadow-sm">
        <form id="create_form" action='/create-item' method="POST">
            <div class="d-flex align-items-center">
                <input id="create_field" name='todo' autofocus autocomplete="off" class="form-control mr-3"
                    type="text" style="flex: 1;">
                <button class="add_item btn ">Add New Item</button>
            </div>
        </form>
    </div>

    <ul id="item_list" class="" list-group pb-5>
    </ul>

    <form action='/logout' method="POST">
        <button> Logout <button>
    </form>

    <form action='/logout_from_all_devices' method="POST">
        <button> Logout from all devices <button>
    </form>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>"
    <script src="/browser.js"></script>
</body>

</html>